{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/composite1_nar2.jpg" "title" "Cotact info" "subtitle" "Lagging and Cladding, Electrical Installation, Plumbing, Masonry Works Services.") }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p class="mt0"> We look forward to hearing from you.</p>

		<h3 class="f4 b lh-title mt0 mb2">Availability</h3>
		<p class="mt0">Please use the form below for any useful price info about about high quality plumbing and piping installation.</p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Location</h4>
				<p class="mt0">PO Box 8964-00300 Nairobi</p>
				
				<p class="mt0">Tel:0707-509847/0726-650660</p>
				<p class="mt0">Email:<a href="mailto:glamuoenterprises@gmail.com" title="email glamuoenterprises@gmail.com">glamuoenterprises@gmail.com</a></p>
				
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
