{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/composite1_no-txt.jpg" "title" "We're ready to serve your needs." "subtitle" "Lagging and Cladding, Electrical Installation, Plumbing, Masonry Works, etc.") }}

{{ partial "short-text" (dict "heading" "Glamuo Engineering Enterprise" "text" "GEE as served a large satisfied customer base since 2003 and enjoy servicing clients such as KTDA, Mc Cloy, Lynntech and Coca-Cola ")}}

{{ partial "2-up" (dict "heading" "Our work" "description" "Glamuo Engineering Enterprise - insulation of steamlines, condenser tanks, air ducts, chilled pipes, chilled tanks & Boilers. ." "buttonText" "Learn more" "buttonLink" "/values"  ) }}

{{ partial "text-and-image" (dict "heading" "Our process" "text" "GEE empasizes quality workmanship and reliable service.." "buttonText" "Request Services" "buttonLink" "/contact") }}

{{ partial "footer" . }}
