{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Health is not a dream. And its not somethig to deny to one another due to economic disparity." "subtitle" "Support sustainable farming while enjoying a cup") }}

{{ partial "short-text" (dict "heading" "What is Tiny Food?" "text" "This project strives to educate while improving access to the higest quality food by assisting people who wish to collaborate i.")}}

{{ partial "2-up" (dict "heading" "How to participate" "description" "Our goals are basic... to make it possible for low income families to afford predominantly organic, locally sourced sustaiable foods by empasizig local seasonal, , sale items, and collaboratig o  access,   ." "buttonText" "See all listings" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "So much food goes to waste, your neighbors are your community." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
